@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=East+Sea+Dokdo&family=Labrada:wght@300&family=Poppins:wght@300&family=Roboto&family=Stylish&display=swap');

body {
  background-color: #ccddff;
  font-family: 'Stylish', sans-serif;
}

.app {
  text-align: center;
}

.container {
  background-color: rgb(7, 2, 71);
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  padding: 20px;
}

input[type=text],
select {
  margin: 30px 0;
  padding: 12px 20px;
  width: 80%;
  display: inline-block;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  width: 15%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.header {
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-size: 50px;
}

.list-heading {
  color: rgb(15, 14, 14);
  font-size: 50px;
  text-align: left;
  background-color: cadetblue;
  width: 67%;
  border-radius: 10px;
}

.listData {
  color: black;
  font-size: 20px;
  background-color: rgb(164, 203, 237);
  text-align: left;
  padding-left: 15px;
  width: 53%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 10px;
}

.btn-position {
  position: relative;
  left: 15%;
  top: -51px;
}